---
layout: master
title: Blog
full_posts: 5
---
<h1> Blog </h1>
<ul id="bloglist">
  {% for post in site.posts%}
 	 {% if forloop.index < page.full_posts %}
	 <div class='post'>
          <span class='date'>{{post.date | date_to_string}}</span>
          <h1><a href='{{post.url}}'>{{post.title}}</a></h1>
          <div class='body'>{{post.content}}</div>
  </div>
  <hr>
 	{% else %}
	{%if forloop.index == page.full_posts %}
 	<h3>Older Posts </h3>
	{% endif %}

    <li><a href="{{ post.url }}">{{ post.title }}</a> - {{post.date | date_to_string}}</li>
    {% endif %}
  {% endfor %}
</ul>
