* {
    box-sizing: border-box;
}

body {
   font-family: 'Helvetica', 'Avenir', 'Arial', sans-serif;
   margin: 0;
   font-size: 16px;
}

main {
    min-height: calc(100vh - 130px);
}

img {
    max-width: 100%;
}

p, ul, ol, table, pre, dl {
    margin: 0 0 20px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6  {
    margin: 0 0 5px;
}

a {
   color: #27ae60;
   text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.highlight {
    border-radius: 5px;
}

pre {
    padding: 8px 15px;
    overflow-x: auto;
}

pre.highlight {
   font-size: 14px; 
}

.wrapper {
   margin: 0px auto; 
   max-width: 740px;
   padding: 0px 10px 0px 10px;
}

.nav-bar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 40px;
    padding-bottom: 5px;
}

.nav-bar__brand {
    display: flex;
}

.nav-bar__brand a {
    color: #000000;
    text-decoration: none !important;
}

.nav-bar__brand img {
    height: 26px;
    width: 26px;
    margin-right: 5px;
}

.nav-bar__title {
    margin: 0;
    font-size: 25px;
}

.blog-snippet {
    margin-bottom: 30px;
}

.blog-snippet h2 {
    margin-bottom: 0px;
    font-weight: lighter;
}

.post header {
   margin-bottom: 20px; 
}

.post header .post__title {
   margin: 0; 
   font-size: 32px;
}

.post .post__body {

}

.page-title {
    margin-bottom: 20px;
}

footer {
    padding-top: 5px;
    border-top: #cfcfcf 1px solid;
}

.social-media-icons {
    max-width: 720px;
    margin: 0px auto; 
}

.social-media-icons a {
    margin-right: 10px
}

.text-muted {
    color: grey;
}


:not(pre) > code {
    background: #f0f0f0;
    padding: 1px 3px;
}
