<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title> {{ page.title }} </title>
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/github-light.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/syntax.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="robots" content="index,follow">
    <link type="image/x-icon" rel="icon" href="{{ site.url }}/favicon.ico">
    <!--[if lt IE 9]>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
         <h2 style="margin-bottom:10px">Anthony Bruno</h2>
        <div class="view"><a href="{{ site.url }}">Home</a> ·
	<a href="{{ site.url }}/aboutme">About Me</a> ·
    <a href="{{ site.url }}/projects">Projects</a>
    </div>
        <span>The trials and tribulations of an Australian software developer. </span> <br>
      <div class="footer">
        <a href="https://github.com/AussieGuy0"><i class="fa fa-github" aria-hidden="true"></i></a> 
        <a href="https://au.linkedin.com/in/anthonybruno1996"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
        <a href="https://twitter.com/AnthonyBrunoAUS"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="mailto:hello@anthonybruno.com.au"><i class="fa fa-envelope" aria-hidden="true"></i></a> 
      </div>
      </header>
      <section>
	{{ content }}
      </section>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
