<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title> {{ page.title }} </title>
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/syntax.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="robots" content="index,follow">
    <link type="image/x-icon" rel="icon" href="{{ site.url }}/favicon.ico">
    {% seo %}
  </head>
  <body>
      <div class="wrapper">
          <header class="nav-bar">
             <div class="nav-bar__brand">
                 <a href="/">
                    <img src="/favicon.ico"/> 
                 </a>
                 <h1 class="nav-bar__title">Anthony Bruno</h1>
             </div>
             <div class="nav-bar__links">
                 <a href="{{ site.url }}">Home</a> ·
                 <a href="{{ site.url }}/aboutme">About Me</a> ·
                 <a href="{{ site.url }}/projects">Projects</a>
             </div>
          </header>
          <main>
          {{ content }}
          </main>
      </div>
     <footer>
        <div class="social-media-icons">
            <a href="https://twitter.com/DownUnder_Dev">Twitter</a>
            <a href="https://github.com/AussieGuy0">Github</a> 
            <a href="https://dev.to/aussieguy">Dev.to</a> 
            <a href="https://au.linkedin.com/in/anthonybruno1996">LinkedIn</a> 
            <a href="mailto:hello@anthonybruno.dev">Email</a> 
        </div>
      </footer>
  </body>
</html>
