---
layout: master
comments: true
---
<article class="post">
    <header class="post__header">
        <h1 class="post__title">{{page.title}}</h1>
        <span class="text-muted"> {{page.date | date_to_string}}</span>
    </header>
    <div class="post__body">{{ content }}</div>
    <div class="post__cta">
        <div>If you liked that post, consider following me on <a
                href="https://bsky.app/profile/anthonybruno.dev">Bluesky</a> to
            hear when I post new articles.</div>
    </div>
</article>
